{% extends 'base.html.twig' %}

{% block body %}
  {{~ Indentation }}<body style="background-color:{{ CouleurFond }}">
  {%~ if Parametres.getNeige()|length == 3 %}
    {{~ Indentation }}  <div>
    {{~ Indentation }}    <div class="neige {{~ Parametres.getNeige()['grande'] ~}} position-fixe z-index-n1"></div>
    {{~ Indentation }}    <div class="neige {{~ Parametres.getNeige()['moyenne'] ~}} position-fixe z-index-n1"></div>
    {{~ Indentation }}    <div class="neige {{~ Parametres.getNeige()['petite'] ~}} position-fixe z-index-n1"></div>
    {{~ Indentation }}  </div>
  {%~ endif %}
  {{~ Indentation }}  <div class="mx-auto col-10 text-center">
  {{~ Indentation }}    <p class="my-5 h1 d-flex justify-content-center align-items-center">
  {{~ Indentation }}      <i class="me-4 fa-solid fa-holly-berry fa-2x text-danger"></i>
  {{~ Indentation }}      <span id="Titre" style="color:{{ CouleurTexte }}">{{ Titre }}</span>
  {{~ Indentation }}      <i class="ms-4 fa-solid fa-candy-cane fa-2x text-success"></i>
  {{~ Indentation }}    </p>
  {%-
  include 'accueil/_forme-' ~ Parametres.getForme() ~ '.html.twig'
  with { 'Indentation' : Indentation ~ '    ',
         'Couleur' : CouleurTexte,
         'Style' : Style }
  -%}
  {%~ if Parametres.getZoom() != '' %}
    {%-
    include 'modale/ZoomResultat.html.twig'
    with { 'Indentation' : Indentation ~ '    ' }
    ~%}
  {%~ endif %}
  {%~ if Parametres.getJourSpecial() != [] %}
    {%-
    include 'modale/JourSpecial.html.twig'
    with { 'Indentation' : Indentation ~ '    ' }
    ~%}
  {%~ endif %}
  {{~ Indentation }}  </div>
  {%~ block script %}
    {%- set Indentation = Indentation ~ '  ' -%}
    {{~ Indentation }}<script src="{{ asset(Ressources.getDossier(constant('FORMAT_URL', Ressources), 'scriptes') ~ '4-ZoomResultat.js') }}"></script>
    {%~ if Parametres.getJourSpecial() != [] %}
      {{~ Indentation }}<script src="{{ asset(Ressources.getDossier(constant('FORMAT_URL', Ressources), 'scriptes') ~ '5-JourSpecial.js') }}"></script>
      {{~ Indentation }}<script>JourSpecial({{ Parametres.getJourSpecial()['Jour'] }},{{ Parametres.getJourSpecial()['Mois'] }});</script>
    {%~ endif %}
    {%- set Jour = "now"|date("j") -%}
    {{~ Indentation }}<script src="{{ asset(Ressources.getDossier(constant('FORMAT_URL', Ressources), 'scriptes') ~ '6-JourAvant.js') }}"></script>
    {{~ Indentation }}<script>JourAvant({{ Jour }},{{ Parametres.getMois() }});</script>
    {{~ Indentation }}<script src="{{ asset(Ressources.getDossier(constant('FORMAT_URL', Ressources), 'scriptes') ~ '7-JourActuel.js') }}"></script>
    {{~ Indentation }}<script>JourActuel({{ Jour }},{{ Parametres.getMois() }});</script>
    {{~ Indentation }}<script src="{{ asset(Ressources.getDossier(constant('FORMAT_URL', Ressources), 'scriptes') ~ '8-JourChange.js') }}"></script>
    {{~ Indentation }}<script>setInterval(JourChange,1000,{{ Jour }});</script>
  {%~ endblock %}
  {{~ Indentation }}</body>
{% endblock %}