{{ Indentation }}<div id="ModaleBonneFete" class="modal" tabindex="-1">
{{ Indentation }}  <div class="modal-dialog modal-dialog-centered">
{{ Indentation }}    <div class="modal-content border border-success border-2" style="background-color:{{ CouleurFond }}">
{{ Indentation }}      <div>
{{ Indentation }}        <div class="neige {{~ NeigeGrande ~}} position-absolue"></div>
{{ Indentation }}        <div class="neige {{~ NeigeMoyenne ~}} position-absolue"></div>
{{ Indentation }}        <div class="neige {{~ NeigePetite ~}} position-absolue"></div>
{{ Indentation }}      </div>
{{ Indentation }}      <div class="modal-header border-success border-2 z-index-1">
{{ Indentation }}        <p class="m-0 h2 modal-title text-danger">{{ Titre }}</p>
{{ Indentation }}        <button class="btn border border-success text-danger" onclick="$('#ModaleBonneFete').hide();" aria-label="Fermer" title="Fermer">
{{ Indentation }}          <i class="fas fa-times fa-2x"></i>
{{ Indentation }}        </button>
{{ Indentation }}      </div>
{{ Indentation }}      <div class="modal-body">
{{ Indentation }}        <p class="m-0 h3" style="color:{{ CouleurTexte }}">{{ Texte }}</p>
{{ Indentation }}      </div>
{{ Indentation }}      <div class="modal-footer border-success border-2 z-index-1">
{{ Indentation }}        <div class="mx-auto">
{{ Indentation }}          <i class="fas fa-holly-berry fa-2x text-danger"></i>
{{ Indentation }}          <i class="fas fa-gifts fa-2x text-info"></i>
{{ Indentation }}          <i class="fas fa-candy-cane fa-2x text-success"></i>
{{ Indentation }}        </div>
{{ Indentation }}      </div>
{{ Indentation }}    </div>
{{ Indentation }}  </div>
{{ Indentation }}</div>