{{ Indentation }}<div id="ZoomResultat" class="modal" tabindex="-1">
{{ Indentation }}  <div class="modal-dialog modal-dialog-centered">
{{ Indentation }}    <div class="modal-content border border-success border-2">
{{ Indentation }}      <div class="modal-header border-success border-2 z-index-1">
{{ Indentation }}        <p class="m-0 h2 modal-title text-danger">{{ 'Resultat.Modale.Titre'|trans({},'messages') }}<span id="jour"></span></p>
{{ Indentation }}        <button type="button" class="btn border border-success border-2" onclick="$('#ZoomResultat').hide();" aria-label="Fermer" title="Fermer">
{{ Indentation }}          <i class="fas fa-times fa-2x"></i>
{{ Indentation }}        </button>
{{ Indentation }}      </div>
{{ Indentation }}      <div class="modal-body">
{{ Indentation }}        <p class="m-0">{{ 'Resultat.Modale.Gagnant'|trans({},'messages') }}</p>
{{ Indentation }}        <p id="gagnant" class="m-0"></p>
{{ Indentation }}        <p class="m-0">{{ 'Resultat.Modale.Cadeau'|trans({},'messages') }}</p>
{{ Indentation }}        <p id="cadeau" class="m-0"></p>
{{ Indentation }}        <img id="photo" class="d-none" src="">
{{ Indentation }}      </div>
{{ Indentation }}      <div class="modal-footer border-success border-2 text-center z-index-1">
{{ Indentation }}        <div class="mx-auto d-flex align-items-center">
{{ Indentation }}          <i class="fas fa-hand-holding-heart fa-flip-horizontal fa-2x text-info"></i>
{{ Indentation }}          <i class="mx-2 fas fa-gift fa-2x text-danger"></i>
{{ Indentation }}          <i class="fas fa-hand-holding-heart fa-2x text-info"></i>
{{ Indentation }}        </div>
{{ Indentation }}      </div>
{{ Indentation }}    </div>
{{ Indentation }}  </div>
{{ Indentation }}</div>