{{~ Indentation }}<div id="{{ Jour }}" class="m-2 text-success bloc" title="Jour : {{ Jour }}" data-bordure="{{ Parametres.getBordure() }}" data-taille="{{ Parametres.getTaille() }}" data-url="{{ path('ResultatHTML',{'id': Jour}) }}">
{{~ Indentation }}  <img class="bloc {{ Parametres.getBordure() }} {{ Parametres.getTaille() }}" src="{{ asset(Ressources.getDossier(constant('FORMAT_URL', Ressources), 'images') ~ 'J' ~ Jour) }}.png">
{{~ Indentation }}</div>