{{~ Indentation }}<div id={{ Jour }} class="m-2 text-success" data-style="{{ Style }}" data-bordure="{{ Bordure }}" data-zoom="{{ Zoom }}" data-taille="{{ Taille }}" data-url="{{ path('Cadeau',{'Id':Jour}) }}">
{{~ Indentation }}  <img class="bloc {{ Bordure }} {{ Taille }}" src="{{ path('Accueil') }}{{ Application.getDossierImage() }}J{{ Jour }}.png" title="Jour {{ Jour }}">
{{~ Indentation }}</div>