{% for Langue in Langues %}
  {%~ if loop.first -%}
    {% set Defaut = ' active' %}
  {%~ else -%}
    {% set Defaut = '' %}
  {%~ endif -%}
  {{~ Indentation }}<li class="nav-item" role="presentation">
  {{~ Indentation }}  <button class="nav-link{{ Defaut }}" type="button" data-bs-toggle="tab" data-bs-target="#{{ Langue[0] }}" aria-selected="true" title="{{ Langue[1] }}">
  {{~ Indentation }}    <img src="{{ path('Accueil') }}{{ Application.getDossierImage() }}{{ Langue[2] }}" width="45em">
  {{~ Indentation }}  </button>
  {{~ Indentation }}</li>
{% endfor %}