{% extends 'base.html.twig' %}

{% block body %}
  {{~ Indentation }}<body>
  {{~ Indentation }}  <div class="mx-auto mt-5 col-2 border border-warning border-2 rounded">
  {{~ Indentation }}    <div class="mx-auto col-11 p-2 text-info text-center">
  {{~ Indentation }}      <i class="fas fa-exclamation-circle fa-5x"></i>
  {{~ Indentation }}    </div>
  {{~ Indentation }}    <div class="mx-auto col-11 border border-warning rounded"></div>
  {%~
  include 'accueil/information/_affiche-langue.html.twig'
  with { 'Indentation' : Indentation ~ '    '}
  ~%}
  {{~ Indentation }}  </div>
  {{~ Indentation }}</body>
{% endblock %}